<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.exercise.mapper.DynamicPictureMapper">
  <resultMap id="BaseResultMap" type="com.one.exercise.pojo.DynamicPicture">
    <id column="dynamic_picture_id" jdbcType="BIGINT" property="dynamicPictureId" />
    <result column="dy_id" jdbcType="BIGINT" property="dyId" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
  </resultMap>
</mapper>