<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.one.exercise.mapper.NotificationRelationMapper">
  <resultMap id="BaseResultMap" type="com.one.exercise.pojo.notification.NotificationRelation">
    <id column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="message_id" jdbcType="BIGINT" property="messageId" />
    <result column="sender" jdbcType="BIGINT" property="sender" />
    <result column="receiver" jdbcType="BIGINT" property="receiver" />
    <result column="is_read" jdbcType="INTEGER" property="isRead" />
    <result column="read_time" jdbcType="TIMESTAMP" property="readTime" />
  </resultMap>
</mapper>